@charset "UTF-8";

* {
	list-style: none;
}

.container, .searchContainer {
	width: 600px;
	margin: 100px auto;
}

.container { position: relative; z-index: 1; }

.tabs li {
  list-style: none;
  float: left;
  width: 50%;
  padding: 10px 15px;
  cursor: pointer;
  text-align: center;
  border: 1px solid #bebebe;
}

.tabs li.on {
  background-color: #e67461;
  font-weight: bold;
  color: #f4eae1;
}

.tab-content {
  clear: both;
  border: 1px solid #dedede;
  height: 600px;
}

.tab-content .follow-tab {
  display: none;
  text-align: center;
}

.tab-content .follow-tab.on {
  display: block;
}

.follow-content {
	list-style: none;
	margin: 20px 0;
	padding: 0 20px;
	display: block;
	width: 600px;
	height: 70px;
}

.btnFollow {
	padding: 3px 10px;
	color: #e67461;
	border: 1px solid #e67461;
	border-radius: 5px;
	margin-left: auto;
}

.btnFollow.following {
	padding: 3px 10px;
	background-color: #e67461;
	border: 1px solid #e67461;
	border-radius: 5px;
}

/* 친구검색창 */
.searchContainer{
	position: absolute;
}

.search {
	position: absolute; z-index: 2; 
	top: -80px; right: -320px;
}

#searchName {
	width: 300px;
	padding: 10px 15px;
	outline: none;
	border: 1px solid #bebebe;
}

#searchNameResult {
	display: inline-block;
	width: 300px;
	font-size: 14px;
	height: 50px;
}

.searchNameRow {
	background-color: white;
	text-align: left;
	padding: 5px 10px 1px;
	border: 1px solid #bebebe;
	border-top: none;
	font-size: 18px;
}

.searchNameRow:hover {
	cursor: pointer;
	background-color: #eed7be;
	font-weight: bold;
}

.searchResult {
	position: relative;
	bottom: 11px;
}

.searchProfileImage {
	width: 35px; 
	height: 35px; 
	border-radius: 55px; 
	margin-right: 10px;
}