@charset "UTF-8";

* {
	list-style: none;
}

.container, .search {
	width: 400px;
	margin: 30px auto;
}

.tabs li {
  list-style: none;
  float: left;
  width: 50%;
  padding: 10px 15px;
  cursor: pointer;
  text-align: center;
  border: 1px solid #bebebe;
}

.tabs li.on {
  background-color: #e67461;
  font-weight: bold;
  color: #f4eae1;
}

.tab-content {
  clear: both;
  border: 1px solid #dedede;
  height: 600px;
}

.tab-content div {
  display: none;
  text-align: center;
}

.tab-content div.on {
  display: block;
}

.tab-content div.on li {
	list-style: none;
	margin: 20px;
}

.tab-content img {
	width: 70px;
	height: 70px;
	float: left;
}

.followList-name {
	float: left;
	font-size: 18px;
}

.btnFollow {
	padding: 6px 15px;
	color: #e67461;
	border: 1px solid #e67461;
	border-radius: 5px;
}

/* 친구검색창 */
.search {
	text-align: right;
}

#searchName {
	width: 200px;
	padding: 5px 10px;
	outline: none;
	border: 1px solid #bebebe;
}

#searchNameResult {
	display: inline-block;
	width: 200px;
	font-size: 14px;
}

.searchNameRow {
	background-color: #f4eae1;
	text-align: left;
	padding: 5px 10px;
	border: 1px solid #bebebe;
	border-top: none;
}

.searchNameRow:hover {
	cursor: pointer;
	background-color: #eed7be;
	font-weight: bold;
}