@charset "UTF-8";

.intro-section {
	text-align: center;
	min-height: 70vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

/*	h1 기본 태그에 적용하면 혹시나 common이나 header CSS 파일 영향을 받을까봐 클래스명 변경 */
.intro-h1 {
	height: 100px;
	position: relative;
	top: 20px;
	display: inline-block;
	animation: bounce .3s ease infinite alternate;
	font-size: 40px;
}

@keyframes bounce {
	100% {
		top: -20px;
		text-shadow: 0 1px 0 #CCC,
		             0 2px 0 #CCC,
		             0 3px 0 #CCC,
		             0 4px 0 #CCC,
		             0 5px 0 #CCC,
		             0 6px 0 #CCC,
		             0 7px 0 #CCC,
		             0 8px 0 #CCC,
		             0 9px 0 #CCC,
		             0 50px 25px rgba(0, 0, 0, .2);
	}
}

.intro-text {
	display: none;
}

.intro-text b {
	color: #e67461;
	font-weight: bold;
	font-size: 1.2em;
}

.content-section {
	position: relative;
	--scroll-length: 1.5;
	height: calc( var(--scroll-length) * 100vh );
	width: 100%;
	margin-top: 200px;
}

/*	content는 다른 클래스랑 겹쳐서 클래스명 변경 */
.intro-content .subheading,
.intro-content .paragraph {
	opacity: 1; 
	opacity: calc( 1 + var(--viewport-y) );
}

.figure {
	width: 100%;
	height: 100vh;
	margin: 0;
	position: absolute;
	top: 0;
	left: 0;
}


/*
img {
	display: block;
	will-change: transform;
	transform: scale(calc(1 / var(--scale)));
}

얘네가 어차피 밑에 있는 .figure img{} 가리키는 거라서 없애고 위에 내용 합침
img 기본 태그명이라서 혹시나 다른데서 충돌날까봐 .figure 밑에 img만 영향주도록 .figure>img 로 수정
*/
.figure>img { 
	display: block;
	width: 100%;
	height: 100%;
	max-width: 100%;
	object-fit: cover;
	object-position: center center;
	display: block;
	will-change: transform;
	transform: scale(calc(1 / var(--scale)));
}

/*	content는 다른 클래스랑 겹쳐서 클래스명 변경 */
.intro-content {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	max-width: 35em;
	display: grid;
	grid-template-rows: 1fr 1fr;
	color: white;
	padding: 2em;
	font-size: 2.5vmin;
}

/*

* {
	text-shadow: 0 0 4vmin rgba(black, 0.25);
}

적용 안되는 중인 것 같아서 그냥 지워버리면 어떠신지..
*/

/*	header는 다른 클래스랑 겹쳐서 클래스명 변경 */
.intro-header {
	grid-row: 1 / 2;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.paragraph {
	grid-row: 2 / 3;
	line-height: 1.5;
	color: white;
}

.heading {
	margin: 0;
	font-size: 2.75em;
	font-weight: 700;
	color: white;
}

.subheading {
	font-size: 1.25em;
	font-weight: 600;
	margin-bottom: .5em;
}

/* ---------------------------------- */

.figure {
	--scale: calc(.8 + 
	(.2 * var(--scroll-length) * var(--visible-y))
	);
	position: sticky;
	top: 0;
	left: 0;
	margin: 0;
	display: block; 
	overflow: hidden;
	will-change: transform;
	transform: scale(var(--scale));
}

.figure:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background-color: rgba(black, 1);
	opacity: calc( var(--visible-y) );
}



/* ---------------------------------- */

.char {
	display: inline-block;
	opacity: calc( 
		1 + ( 
		( var(--viewport-y) * 1.5 )
		- var(--char-percent)
	)
);
}


/* *,
*:before,
*:after {
	position: relative;
	box-sizing: border-box;
} */

/*	body, html -> html을 지워도 아무 변화도 일어나지 않길래 일단 지웁니다.. 
	body 같은 기본 태그에 적용하면 혹시나 common이나 header CSS 파일 영향을 받을까봐 div 만들어서 클래스명으로 변경 */
.intro-container {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	line-height: 1.05;
	font-weight: 400;
	letter-spacing: -.015em;
}

.scrollTop {
	position: fixed;
	width: 40px;
	height: 40px;
	right: 2%;
	bottom: 20px;
	font-size: 20px;
	background-color: #e67461;
	color: #ffffff;
	text-align: center;
	padding-top: 5px;
	border-radius: 50px;
	z-index: 2
}
