@charset "UTF-8";

.notice {
	width: 100%;
	margin: 0 auto;
}

.notice {
	overflow: hidden;
}

.notice ul li {
	float: right;
}

table {
	width: 100%;
	margin: 0 auto;
	border-top: 2px solid #865449;
	border-bottom: 2px solid #865449;
	border-collapse: collapse;
	margin-bottom: 20px;
	table-layout: fixed;
}

table th, table td {
	padding: 10px 10px;
}

table th {
	background-color: #fee9cd;
}

table td {
	border-left: none;
	border-right: none;
	border-top: 1px solid #bebebe;
	border-bottom: 1px solid #bebebe;
}

table td a:hover {
	font-weight:bold;
}

.title {
	text-align: center;
	margin: 30px auto;
}

h3 {
	margin-bottom: 10px;
}

.noticeSearch {
	overflow: hidden;
	margin-bottom: 20px;
}

.option, .keyword {
	border: 1px solid #bebebe;
	outline: none;	
	height: 40px;
}

.option {
	width: 120px;
	margin-right: 10px;
}

.keyword {
	width: 300px;
}

.btnSearch {
	display: inline-block;
	text-align: center;
	width: 50px;
	height: 40px;
	line-height: 40px;
	cursor: pointer;
	border: 1px solid  #bebebe;
	box-sizing: border-box;
	border-left: none;
}

input {
	height:22px;
	padding:3px 5px;
	font-size:15px;
}

input[name=title] {
	width:calc(100% - 7px);
}

input[name=title]:focus, textarea[name=content]:focus {
	 outline: none;
}

textarea[name=content] {
	width:calc(100% - 6px);
	height:150px;
	resize:none;
}

textarea {
	resize: none;
}

.btnSet {
	margin: 20px auto;
	width: 80%;
	text-align: center;
}

.btnSubmit, .btnCancel {
	text-align: center;
	padding: 3px 10px;
    color: #67432a;
	border-radius: 3px; 
	transition: 0.3s;
}

.btnSubmit:hover, .btnCancel:hover {
	background-color: #F4EAE1;
}

.btnNew {
	display: inline-block;
    background-color: #FCD092;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    text-decoration: none;
}