@charset "UTF-8";

.postDetail{
	width: 600px;
	margin: 0 auto;
	border: 1px solid #ccc;
	box-sizing: content-box;
}

.top {
	display: flex;
	align-items: center;
}

.userBox {
	flex: 1;
}

.btnSet1 {
	margin: 10px 10px 10px 0;
	text-align: center;
}

.post-image {
	display: block;
	width: 600px;
}

.contentBox {
	margin-bottom: 20px; padding: 10px;
	overflow: hidden; vertical-align: middle;
}

.content {
	width:580px;
	overflow: hidden; float: left;
}

.moreContent, .reaction {
	color: #ccc; font-size: 0.8em;
	cursor: pointer; 
}

.postDate {
	color: rgb(117, 117, 117); font-size: 0.8em;
}

.btnSet2 {
	margin-top:10px;
	text-align: center;
}

a.btn-fill, a.btn-empty {
	text-align: center;
	padding: 3px 10px;
	color: #67432a;
	border-radius: 3px; 
	transition: 0.3s;
}

a.btn-fill:hover, a.btn-empty:hover {
	background-color: #F4EAE1;
}

.btnLike {
	cursor: pointer; border: none;
	background-color: white;
}