@charset "UTF-8";

#mypage {
	width: 80%; margin: 0 auto; padding: 0px;
}

#profile {
	width: 650px; height: 220px;
	margin: 10px auto; overflow:hidden;
	display: block;
	border-bottom: 1px solid #ccc;
}

#post_grid{
	width: 650px; 
	margin: 0 auto;
	padding: 10px 0px; box-sizing: border-box;
}

.imageBox {
	display: inline-flex;
	align-items: center;
	overflow: hidden;
	width: 200px;
	height: 200px;
	margin: 6px;
}

.post-image {
	flex-wrap:wrap;
	width: 100%;
	min-height: 100%;
	justify-content: space-around;
	object-fit: cover;
}

.imgBox {
    width: 150px;
    height: 150px; 
    border-radius: 70%;
    overflow: hidden;
    float: left;
    margin: 25px 50px;
}

.profileImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#profile>section {
	width: 400px;
	height: 200px;
	float: right;
	padding-top: 30px;
}

#profile>section div{
	padding: 10px;
}

.btnSet { margin-top:30px;}
a.btn-empty, a.btnFollow {
	text-align: center; 
	padding: 3px 10px;
	background-color: #fff; color:#e67461; 
}
a.btnFollow.following {
	text-align: center; 
	padding: 3px 10px;
	background-color: #e67461;
	float: right;
}
a.btnFollow {float:right;}
a.btn-empty:hover { font-weight: bold; }