html {
	scroll-behavior: smooth;
}

#content {
	padding: 0px !important;
}

/*********************
 * Table of Contents
 *********************/

.recipe-toc {
	position: fixed;
	top: 0;
	left: 0;
	overflow: hidden;
	z-index: 5;
	box-shadow: 0px 0px 10px black;
}

.recipe-toc .list {
	padding: 10px 20px 15px 10px;
	background-color: #00000080;
	max-height: 70vh;
	overflow-y: auto;
}

.toc-button{
	display: block;
	position: fixed;
	top: 0;
	left: 5px;
	width: 150px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	color: white;
	z-index: 7;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	box-shadow: inset 0px -5px 0px 0px #00000020;
}

#idk:checked~.toc-button.open {
	display:none;
}

#idk:not(:checked)~.toc-button.close {
	display:none;
}

.toc {
	margin: 15px 5px 15px 0;
	color: #FFF;
}

.toc.on {
	color: #EA0;
	margin-left: 5px;
	margin-right: 0px;
}

.toc * {
	color: inherit;
	text-shadow: 1px 1px 2px black;
}

/*********************
 * 레시피 페이지
 *********************/

.recipe-contents {
	flex-grow: 1;
	padding: 30px 50px 0 50px;
}

.page {
	position: relative;
	border-radius: 30px;
	overflow: hidden;
}

.cover.page,
.step.page {
	margin-bottom: 50px;
}

/*********************
 * 레시피 커버
 *********************/

.cover.page {
	display: flex;
	height: 720px;
}

.cover.page .image-box {
	display: flex;
	align-items: center;
	overflow: hidden;
	width: 720px;
	box-shadow: 1px 0 7px #00000080;
	z-index: 1;
}

.cover.page .image {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.cover.page .title-box {
	flex-grow: 1;
}

.cover.page .title {
	margin-top: 50px;
	padding: 50px 0;
	text-align: center;
	background-color: white;
	border-right: 1px solid #CCC;
}

.cover.page .userBox {
	background-color: #00000020;
	border-radius: 20px;
	margin: 100px 20px 0 20px;
}

/*********************
 * 레시피 페이지
 *********************/

.step.page {
	display: flex;
	min-height: 500px;
	border: 1px #CCC solid;
}

.step.page:nth-child(2n+1) {
	flex-direction: row;
}

.step.page:nth-child(2n) {
	flex-direction: row-reverse;
}

.step.page:nth-child(2n+1) .image-box,
.step.page:nth-child(2n+1) .color-box {
	box-shadow: 1px 0 7px #000000CC;
}
.step.page:nth-child(2n) .image-box,
.step.page:nth-child(2n) .color-box {
	box-shadow: -1px 0 7px #000000CC;
}

.step.page .color-box {
	width: 120px;
}

.step.page .image {
	width: 640px;
	min-height: 100%;
	object-fit: cover;
}

.step.page .text-box {
	flex-grow: 1;
	padding: 20px;
}

/*********************
 * 레시피 평가
 *********************/

.rate.page {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 50px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.rate.page .rate-box {
	text-align: center;
	margin-top: 80px;
	padding: 30px 20px;
	background-color: #00000020;
	border-radius: 30px;
}

.rating-bar .star {
	pointer-events: none;
	user-select: none;
}

.rate-box button {
	margin-top: 15px;
	padding: 10px;
	border: none;
	background: none;
	color: white;
}

#submitRating, #editRating {
	float: right;
}

#removeRating {
	float: left;
}

.suggestion-box {
	margin-top: 50px;
	width: 100%;
}

.suggestion-box .text {
	margin-left: 15px;
	color: white;
}

.suggestion-box > .userBox {
	background-color: #00000020;
	border-radius: 20px;
	margin-top: 10px;
}

.suggestion-box .recipe-list-box {
	margin-top: 10px;
	padding: 20px;
	background-color: #00000020;
	border-radius: 20px;
}

.suggestion-box .recipe-list {
	display: flex;
	overflow-x: auto;
	align-self: stretch;
}

.suggested-recipe {
	display: flex;
	flex-direction: column;
}

.suggested-recipe:not(:last-child) {
	margin-right: 10px;
}

.suggested-recipe img {
	display: block;
	width: 320px;
	height: 240px;
	object-fit: cover;
}

.suggested-recipe .title-container {
	display: block;
	position: relative;
	background-color: white;
	overflow: hidden;
}

.suggested-recipe .circle {
	position: absolute;
	top: -50px;
	left: -40px;
	width: 130px;
	height: 130px;
	border-radius: 99999px;
}

.suggested-recipe .category {
	position: absolute;
	top: -3px;
	left: 5px;
	width: 40px;
	height: 40px;
}

.suggested-recipe .title {
	margin: 5px 0 5px 100px;
	z-index: 9;
}
