
.recipe-list {
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

.recipe {
	display: inline-flex;
	width: 500px;
	justify-content: space-between;
}

.recipe-cover-container {
	display: flex;
	align-items: center;
	height: 300px;
	overflow: hidden;
}

.recipe-cover {
	min-height: 100%;
	width: 100%;
	object-fit: cover;
}