
table {
	width: 50%;
	margin: 20px auto;
	border: 1px solid #bebebe;
}

table th, table td {
	border: 1px solid #bebebe;
	padding: 5px 10px;
}

h3 {
	margin: 30px auto;
	text-align: center;
}

input[type=text] {
    width: 98.5%;
    margin: 5px;
    height: 30px;
    padding-left: 10px;
    font-size: 16px;
}

textarea {
    width: 98.5%;
    height: 200px;
    margin: 5px;
    padding: 5px 10px;
    font-size: 16px;
}

.btn {
	width: 50%;
	margin: 20px auto;
	text-align: center;
}

.btn a {
	background-color: #FCD092;
	padding: 5px 10px;
}

.modify, .delete {
	float: right;
}
