@charset "UTF-8";

#post {
	width: 600px;
	margin: 50px auto; padding: 20px;
    border: 1px solid #bebebe;
	text-align: center;
	border-radius: 5px;
}

.imgbox { margin: 0 auto; }
#img-attach{ display: none; }
.post-img{ width: 550px; border: 1px solid #bebebe; }
.postbox{ margin-top: 20px; }

textarea[name=text] { 
	width:calc(100% - 6px); height:200px; resize:none;
	border: 1px solid #bebebe;
	padding: 10px;
}

textarea[name=text]:focus {
	outline: none;
}

.btnSet { margin-top:10px; }

a.btn-fill, a.btn-empty {
	text-align: center;
	padding: 3px 10px;
    color: #67432a;
	border-radius: 3px; 
	transition: 0.3s;
}

a.btn-fill:hover, a.btn-empty:hover {
	background-color: #F4EAE1;
}