@charset "UTF-8";

#write-post {
	width: 600px; height: 700px;
	margin: 20px auto; padding: 20px;
	background-color: #f4eae1;
	border-radius: 20px;
	text-align: center;
}

.imgbox {
	margin: 0 auto;
}

#img-attach{
	display: none;
}

.post-img{
	width: 550px; height: 400px;
}

.postbox{
	margin-top: 20px;
}

textarea[name=content] { 
	width:calc(100% - 6px); height:200px; resize:none;
	border: none; 
	padding: 10px;
}

.btnSet { margin-top:10px; }
a.btn-fill, a.btn-empty {
	text-align: center;
	padding: 3px 10px;
	border: 1px solid #e67461;
	border-radius: 3px; 
	box-shadow: 2px 2px 3px #ba9165; 
}
a.btn-fill { background-color: #e67461; color:#fff; }
a.btn-empty { background-color: #fff; color:#e67461; }

#popup-background {
	position:absolute;  left:0; top:0 ;
	width:100%; height:100%; 
	background-color:#000;  opacity:0.3;
	display: none;		   
}

#popup{
	position:absolute;	left:50%;  top:50%;  transform:translate(-50%, -90%);
	width:300px;	height:300px;
	border:2px solid #666;	  
	border-radius: 15px; 
	background-color: #e7f0f9;
	padding: 10px; display: none;
}

.popup-title{
	text-align: center;
	margin: 20px 10px;
	padding:20px 0; 
}

.popup-btns a{
	display: block;
	padding: 20px 10px;
	text-align: center;
	border-top: 1px solid #ccc;
}
