
table {
	width: 80%;
	margin: 20px auto 0px;
	border-collapse: collapse;
	border-top: 2px solid #865449;
    border-bottom: 2px solid #865449;
}

table th, table td {
	border-bottom: 1px solid #bebebe;
	padding: 10px;
}

table th {
	border-right: 1px solid #bebebe;
}

.text {
	width: 80%;
	margin: 20px auto;
	text-align: center;
	padding: 20px 0px;
} 

h3 {
	margin-bottom: 10px;
}

input[type=text] {
    width: 98.5%;
    margin: 5px;
    height: 30px;
    padding-left: 10px;
    font-size: 16px;
}

textarea {
    width: 98.5%;
    height: 200px;
    margin: 5px;
    padding: 5px 10px;
    font-size: 16px;
}

.btn {
	width: 80%;
	margin: 20px auto;
	text-align: center;
}

.modify, .delete {
	float: right;
	padding: 5px 10px;
	background-color: #FCD092;
	border-radius: 10px;
}

.list {
	background-color: #FCD092;
	padding: 5px 10px;
}

.modify {
	margin-right: 5px;
}

.content {
	height: 300px;
}

.commentDiv {
	margin: 0px auto;
	width: 80%;
	border-bottom: 2px solid #865449;
	
	padding-top: 10px;
	overflow:hidden;
}

.right {
	text-align: right;
}

#comment {
	width: 99%;
	height: 70px;
	resize: none;
}

.commentBtn{
	float: right;
	margin: 0px 10px 10px 0px;
}