<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="file">

    <select id="findProfileImage"
            parameterType="Integer"
            resultType="ProfileImageData">
        SELECT id,
               profileImage
          FROM users
         WHERE id = #{id}
           AND isDeleted = 'N'
    </select>

    <update id="setUserProfileImage"
            parameterType="map">
        UPDATE users
           SET profileImage = #{profileImage}
         WHERE id = #{user}
           AND isDeleted = 'N'
    </update>

    <update id="removeProfileImage"
            parameterType="Integer">
        UPDATE users
           SET profileImage = null
         WHERE id = #{userId}
    </update>

    <select id="findPostImage"
            parameterType="Integer"
            resultType="PostImageData">
        SELECT id,
               image
          FROM posts
         WHERE id = #{id}
           AND isDeleted = 'N'
    </select>

</mapper>