<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="notice">
	<sql id="search_where">
		<if test="search == 'title' or search == 'content'">
		 WHERE ${search} LIKE '%' || #{keyword} || '%'
		</if>
		<if test="search == 'all'">
		 WHERE title LIKE '%' || #{keyword} || '%'
		    OR content LIKE '%' || #{keyword} || '%'
		</if>
	</sql>
	
	<select id="getNotices"
			parameterType="Page"
			resultType="Notice">
		SELECT *
		  FROM (SELECT n.*, rownum r
                  FROM (SELECT *
                          FROM notices
                        <include refid="search_where"/>
                         ORDER BY writeDate DESC) n
                 ORDER BY r)
         WHERE r BETWEEN ((${currentPage}-1)*10)+1 AND ${currentPage}*10
	</select>
	
	<!-- <select id="getNotices"
			parameterType="Page"
			resultType="Notice">
		SELECT n.*
 		  FROM (SELECT n.*, rownum r
                FROM notices <include refid="search_where"/>
                ORDER BY writeDate DESC) n
 		 WHERE r BETWEEN ((${currentPage}-1)*10)+1
 		   AND ${currentPage}*10
	</select> -->
	
	<select id="getTotalCount"
			resultType="integer">
		SELECT count(*)
		  FROM notices
		<include refid="search_where"/>
	</select>
	
	<insert id="insert">
		INSERT INTO notices (id, title, content)
			   VALUES (seq_notices.nextval, #{title}, #{content})
	</insert>
	
	<select id="detail"
			resultType="Notice">
		SELECT *
		  FROM notices
		 WHERE id = #{id}
	</select>
	
	<update id="update">
		UPDATE notices SET title=#{title}, content=#{content}
		 WHERE id = #{id}
	</update>
	
	<delete id="delete">
		DELETE FROM notices
		 WHERE id = #{id}
	</delete>
	
	<select id="getIndex"
	        resultType="Integer">
		SELECT r
		  FROM (SELECT n.*, rownum r
                  FROM (SELECT *
                          FROM notices
                        <include refid="search_where"/>
                         ORDER BY writeDate DESC) n
                 ORDER BY r)
         WHERE id = #{id}
	</select>
	
</mapper>