<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="post">
	<sql id="postColumns">
		SELECT posts.id           id,
		       posts.author       authorId,
		       users.name         authorName,
		       users.profileImage authorProfileImage,
		       <include refid="user.isFollowedByYou">
			       <property name="userId" value="posts.author"/>
		       </include> isFollowedByYou,
		       <include refid="user.isFollowingYou">
			       <property name="userId" value="posts.author"/>
		       </include> isFollowingYou,
		       posts.text,
		       postDate,
		       lastEditDate,
		       (SELECT COUNT(*)
		          FROM postlikes
		         WHERE post = #{id}) postLikes,
		       (SELECT COUNT(*)
		          FROM reactions
 		         WHERE post = #{id}) reactions,
 		       (SELECT COUNT(*)
 		          FROM postlikes
 		         WHERE userId = #{loginUser, jdbcType=INTEGER}
		           AND post = #{id}) likedByYou
	</sql>

	<select id="recentPosts">
		SELECT *
		  FROM (SELECT <include refid="postColumns"/>
		          FROM posts
		         WHERE isDeleted = 'N'
		         ORDER BY postDate DESC)
		 WHERE ROWNUM &lt;= 10
	</select>

	<select id="postDetail"
	        parameterType="map"
	        resultType="Post">
		SELECT id,
		       text,
		       author,
		       postDate,
		       lastEditDate,
		       (SELECT COUNT(*)
		          FROM postlikes
		         WHERE	post = #{id}) postLikes,
		       (SELECT COUNT(*)
		          FROM	reactions
 		         WHERE	post = #{id}) reactions,
 		       (SELECT COUNT(*)
 		          FROM	postlikes
 		         WHERE	userId = #{loginUser, jdbcType=INTEGER}
 		         	AND	post = #{id}) likedByYou
		  FROM posts
		 WHERE id = #{id}
		   AND isDeleted = 'N'
	</select>
	
	<select id="generatePostId"
	        resultType="Integer">
		SELECT seq_posts.nextval
		  FROM dual
	</select>
	
	<insert id="writePost"
	        parameterType="map">
		INSERT INTO posts(id, text, author)
		VALUES (#{postId}, #{text}, #{loginUser})
	</insert>
	
	<select id="findPostData"
	        parameterType="Integer"
	        resultType="Post">
		SELECT *
		  FROM posts 
		 WHERE id = #{post}
		   AND isDeleted = 'N'
	</select>
	
	<update id="editPost"
	        parameterType="map">
		UPDATE posts
		   SET text = #{text}
		 WHERE id = #{post}
	</update>
	
	<update id="deletePost"
	        parameterType="Integer">
		UPDATE posts
		   SET isdeleted = 'Y'
		 WHERE id = #{post}
	</update>
	
	<insert id="likePost"
	        parameterType="map">
		INSERT INTO postlikes(userId, post)
		VALUES (#{loginUser}, #{post})
	</insert>
	
	<delete id="cancleLike"
	        parameterType="map">
		DELETE FROM postlikes
		 WHERE userId = #{loginUser}
		   AND post = #{post}
	</delete>
</mapper>