<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="user">

	<resultMap id="userSettingResultMapping" type="UserSettingData">
		<result column="isSocialAccount" property="isSocialAccount"/>

		<association property="user" autoMapping="true"/>
	</resultMap>


	<select id="userSettings"
	        parameterType="Integer"
	        resultMap="userSettingResultMapping">
		SELECT id,
			   name,
			   motd,
			   profileImage,
		       CASE WHEN password IS NULL THEN 0
		            ELSE 0
		       END isSocialAccount
		  FROM users
		 WHERE id = #{id}
	</select>
	
	<sql id="isFollowedByYou">
		<choose>
			<when test="loginUser == null">NULL</when>
			<otherwise>
				CASE WHEN #{loginUser} = ${userId} THEN NULL
				     ELSE (SELECT COUNT(*)
		                     FROM follows
				            WHERE following = ${userId}
		                      AND userId = #{loginUser})
		        END
			</otherwise>
		</choose>
	</sql>

	<sql id="isFollowingYou">
		<choose>
			<when test="loginUser == null">NULL</when>
			<otherwise>
				CASE WHEN #{loginUser} = ${userId} THEN NULL
				     ELSE (SELECT COUNT(*)
		                     FROM follows
				            WHERE userId = ${userId}
		                      AND following = #{loginUser})
		        END
			</otherwise>
		</choose>
	</sql>

	<select id="selectProfile"
	        parameterType="map"
	        resultType="UserProfileData">
		SELECT id,
		       name,
		       motd,
		       profileImage,
		       <include refid="isFollowingYou">
			       <property name="userId" value="#{userId}"/>
		       </include> isFollowingYou,
		       <include refid="isFollowedByYou">
			       <property name="userId" value="#{userId}"/>
		       </include> isFollowedByYou
		  FROM users
		 WHERE id = #{userId}
	</select>

	<update id="setName"
	        parameterType="map">
		UPDATE users
		   SET name = #{name}
		 WHERE id = #{userId}
	</update>
	
	<update id="setMotd"
			parameterType="map">
		UPDATE users
		   SET motd = #{motd}
		 WHERE id = #{userId}
	</update>

	<select id="getUserPasswordById"
	        parameterType="Integer"
	        resultType="String">
		SELECT password
		  FROM users
		 WHERE id = #{userId}
	</select>

	<update id="setPassword"
	        parameterType="map">
		UPDATE users
		   SET password = #{newPassword}
		 WHERE id = #{userId}
	</update>

	<!-- TODO 테스트 -->
	<select id="getFollower"
	        parameterType="map"
	        resultType="UserProfileData">
		SELECT f.userId id,
		       u.name name,
		       u.profileImage profileImage,
		       <include refid="isFollowingYou">
			       <property name="userId" value="f.userId"/>
		       </include> isFollowingYou,
		       <include refid="isFollowedByYou">
			       <property name="userId" value="f.userId"/>
		       </include> isFollowedByYou
		  FROM follows f
		       JOIN users u
		         ON f.userId = u.id
		 WHERE f.following = #{user}
	</select>

	<!-- TODO 테스트 -->
	<select id="getFollowing"
			parameterType="map"
			resultType="UserProfileData">
		SELECT f.following id,
		       u.name name,
		       u.profileImage profileImage,
		       <include refid="isFollowingYou">
			       <property name="userId" value="f.following"/>
		       </include> isFollowingYou,
		       <include refid="isFollowedByYou">
			       <property name="userId" value="f.following"/>
		       </include> isFollowedByYou
		  FROM follows f
		       JOIN users u
		         ON f.following = u.id
		 WHERE f.userId = #{user}
	</select>

	<insert id="follow"
	        parameterType="map">
		INSERT INTO follows(userId, following)
		VALUES (#{loginUser}, #{followingId})
	</insert>

	<delete id="unfollow"
	        parameterType="map">
		DELETE FROM follows
		 WHERE userId = #{loginUser}
		   AND following = #{followingId}
	</delete>

	<select id="checkIfUserFollows"
	        parameterType="Integer"
			resultType="Boolean">
		SELECT COUNT(*)
		  FROM follows
		 WHERE userId = #{loginUser}
		   AND following = #{followingId}
	</select>

	<select id="checkIfUserExists"
	        parameterType="Integer"
			resultType="Integer">
		SELECT id
		  FROM users
		 WHERE id = #{it}
	</select>

	<select id="searchUserByName"
			resultType="UserProfileData">
		SELECT id, name
		  FROM users
		 WHERE name LIKE '%' || #{name} || '%'
	</select>

</mapper>